[Unit]
Description=Jaspermate Cellular Data Connection
After=ModemManager.service
Before=jaspernode.service
Wants=ModemManager.service

[Service]
Type=simple
ExecStart=/usr/local/bin/jaspermate-cellular run
ExecStop=/usr/local/bin/jaspermate-cellular stop
Restart=on-failure
RestartSec=30
TimeoutStartSec=120

[Install]
WantedBy=multi-user.target
